{{ ansible_managed | comment }}

{% for package in packages_d_list | selectattr('use', 'defined') | sort(attribute='name') %}
{{ package['use_selector'][0] | default('') }}{{ package.name }}{% if 'use_selector' in package %}-{{ package['use_selector'][1] }}{% endif %} {{ package.use | join(' ') }}
{% endfor %}
