{{ ansible_managed | comment }}

{% for package in packages_d_list | selectattr('license', 'defined') | sort(attribute='name') %}
{{ package['license_selector'][0] | default('') }}{{ package.name }}{% if 'license_selector' in package %}-{{ package['license_selector'][1] }}{% endif %} {{ package.license }}
{% endfor %}
