{{ ansible_managed | comment }}

{% for package in packages_d_list | selectattr('accept_keywords', 'defined') | sort(attribute='name') %}
{{ package['accept_keywords_selector'][0] | default('') }}{{ package.name }}{% if 'accept_keywords_selector' in package %}-{{ package['accept_keywords_selector'][1] }}{% endif %} {{ package.accept_keywords }}
{% endfor %}
