{{ ansible_managed | comment }}

{% for package in packages_d_list | selectattr('mask_selector', 'defined') | sort(attribute='name') %}
{{ package['mask_selector'][0] | default('') }}{{ package.name }}{% if package['mask_selector'] | length > 1 and package['mask_selector'][1] %}-{{ package['mask_selector'][1] }}{% endif %}{% if package['mask_selector'] | length > 2 and package['mask_selector'][2] %}::{{ package['mask_selector'][2] }}{% endif %}

{% endfor %}
